body{
    margin: 0;
}
header{
    display: flex;
    width: 100%;
    padding: 20px 100px;
    /*background-image: linear-gradient(lightsalmon, tomato);*/
   padding-top: 10px;
   padding-bottom: 10px;
}
.logo{
    width: 50%;
}
header div img{
    width: 9%;
    margin-left: 0;
}
.menu{
    width: 50%;
    font-family: 'Poppins', sans-serif;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0 20px;
    float: left;
}
