body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #575757;
}

header {
    display: flex;
    padding: 5px 5px;
}

.logo {
    width: 30%;
    margin-top: 5px;
    padding-left: 85px;
    padding-top: 5px;

}

header div img {
    width: 35%;
}

.menu {
    width: 70%;
    padding-top: 20px;
    padding-left: 500px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #333;
    padding: 0 20px;
    float: left;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: -45px;
}

.orange-color {
    color: #fc8c47;
}

#head-margin {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    margin-left: 5px;

}

#first-image {
    width: 75%;

}

#first-para {
    padding-right: 150px;
    margin-bottom: 50px;
}

.proper-position {
    margin-top: 40px;
    margin-left: 100px;
}

.order-button {
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 40px;
    background-image: linear-gradient(#fc944b, #fd5432);
}

.second-image {
    width: 45%;
    margin-left: 120px;
    margin-top: 95px;
}

#about-me {
    font-size: 40px;
    margin-top: 110px;
}

#second-para {
    text-align: justify;
    margin-right: 150px;
    margin-bottom: 90px;
}

.second-section-background {
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}

#my-recipies {
    text-align: center;
}

#my-recipies-para {
    padding: 12px 300px;
    margin-bottom: 30px;
}

.card {
    width: 30%;
    box-shadow: 10px 10px 50px lightgray;
    border-radius: 35px;
    padding: 0px 15px 25px 15px;
    text-align: justify;
}

.card-image {
    width: 95%;
    padding: 20px 10px;
}

#card1 {
    margin-left: 80px;
    margin-right: 20px;
}

#card2 {
    margin-left: 20px;
    margin-right: 20px;
}

#card3 {
    margin-left: 20px;
    margin-right: 80px;
}

.h2-of-card {
    color: black;
    font-size: 30px;
    padding: 0px 15px;
}

.card-para {
    padding: 0px 15px;
}

.social-reputation {
    width: 30%;
}

.h1-social-reputation {
    color: black;
    padding-bottom: 20px;
}

.social-reputation-box {
    width: 90%;
    box-shadow: 10px 10px 50px lightgray;
    border-radius: 35px;
    padding: 3px 3px 30px 25px;
    margin: auto;
    margin-bottom: 90px;
}

#sr1 {
    padding: 0px 25px 0px 150px;
}

#sr2 {
    padding: 0px 90px 0px 80px;
}

#sr3 {
    padding: 0px 15px 0px 20px;
}

.footer-section {
    background-color: black;
    padding: 5px 0px;
    text-align: center;
    color: whitesmoke;
}